body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #121e40;
    font-family:  Helvetica, sans-serif;
    font-weight: 300 !important;
    color: white;
}

#router-view{
    width: 80vw;
    margin: 0 auto;
    padding-bottom: 5vh;
}

#welcome{
    text-align: center;
}

#keywordsSection{
    padding-left: 5%;
}

.button {
    padding: 10px;
    margin: 20px 2%;
    display: inline-block;
    background-color: #DF4044;
    border: 1px solid #DF4044;
    border-radius: 30px;
    width: 16vw;
    text-align: center;
    color: #fff;
}

.button:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    color: white;
}


ul li{
    display: inline-block;
    padding: 2%;
}

.comment,
.article{
    width: 80vw;
    margin: 5% 0%;
    background-color: #fff;
    color: black;
    border-radius: 4px;
    min-height: 144px;
}

.comment img{
    width: 100px;
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
}

.article img{
    max-height: 15vh;
}

.comment .content{
    display: inline-block;
    width: calc(80vw - 140px);
    position: absolute;
}

.article {
    padding: 5vh 5vw;
}

.createdDate{
    color: gray;
    font-weight: 600;
    font-size: 0.8em;
    margin-top: 5px;
}

h3{
    margin-bottom: 0;
}

.keywords{
    padding: 10px;
    margin: 0 4.7%;
    margin-top: 20px;;
    display: inline-block;
    background-color: #DF4044;
    border: 1px solid #DF4044;
    border-radius: 30px;
    width: 16vw;
    position: absolute;
    margin-top: -2%;
    margin-left: calc(60vw - 140px);
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: white;
}

.info{
    text-align: center;
    padding-top: 10vh;
}