body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #121e40;
    font-family:  Helvetica, sans-serif;
    font-weight: 300 !important;
    color: white;
}

section{
    display: inline-block;
    margin: 0;
}

#left-section{
    width: 43vw;
    background: #DF4044;
    height: 100vh;
    position: fixed;
}

#rocket-image{
    width: 43vw;
    height: 100vh;
}

#right-section{
    width: 57vw;
    margin-left: 43vw;
    padding: 30px 0;
}

h1{
    width: 43%;
    position: fixed;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 56px;
    text-align: center;
}

form{
    margin: 0 auto;
    width: 80%;
}

label{
    text-transform: uppercase;
    color: white;
    font-size: 0.9em;
    display: block;
}

input,
textarea,
button{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    display: block;
    padding: 3%;
    margin-bottom: 10%;
    width: 100%;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 300;
}

/*  custom checkbox ----- */

input[type=checkbox], 
label[for=terms]{
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 80%;
    padding-bottom: 3vh;
}

input[type=checkbox]{
    max-width: 20px;
    margin-left: 5%;
}

input[type="checkbox"] {
    visibility: hidden;
  }

input[type="checkbox"] + label:before {
    border: 1px solid white;
    border-radius: 3px;
    content: "\00a0";
    display: inline-block;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}  

input[type="checkbox"]:checked + label:before {
    background: #DF4044;
    border: 1px solid #DF4044;
    color: white;
    content: "\2713";
    text-align: center;
  }

  /* ----- custom radio ------ */

input[type=radio],
label[for=yes],
label[for=no]{
    display: inline-block;
    max-width: 50px;
}

/*input[type="radio"] {
    visibility: hidden;
  }

input[type="radio"] + label:after {
    border: 1px solid white;
    border-radius: 50%;
    content: "\00a0";
    display: inline-block;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
}  

input[type="radio"]:checked + label:after {
    background: #DF4044;
    border: 1px solid #DF4044;
    color: white;
    content: "\2713";
    text-align: center;
  }*/

  /*------ buttons ----- */

button{
    width: 40%;
    margin: 0 4.7%;
    display: inline-block;
    background-color: #DF4044;
    border: 1px solid #DF4044;
    border-radius: 30px;
}

button:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,1);
}

input:invalid{
    border-color: #DF4044;
}

.required:before{
    content: '* ';
}

a{
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #DF4044;
}

a:hover{
    color: #DF4044;
}

/*#rocket-path, 
#smoke-line1,
#smoke-line2,
#smoke-line3,
ellipse*/

.fly-out{
    transform: translate(0%, 0%);
    animation: go-up 15s ease-out 1;
}

.hide-out{
    animation: go-left 15s ease 1;
}

    
@keyframes go-up {
    100% { transform: translate(0%, -300%); } 
}

@keyframes go-left {
    100% { opacity: 0; } 
}
