* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: black;
	background: url("../assets/astronomy-dark-evening-glowing-176851.jpg");
	background: url("../assets/mySpace.png");
	background-size: cover;
}

#universe {
    font-size: 10px;
	z-index: 1;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 80vh;
    top: 10vh;
}

#solar-system {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	font-size: 62%;
	transform: rotateX(75deg);
}

.orbit {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	transform-style: preserve-3d;
	animation-name: orbit;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.pos {
	position: absolute;
	top: 50%;
	width: 2em;
	height: 2em;
	margin: -1em 0 0 -1em;
	transform-style: preserve-3d;
	animation-name: invert;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#sun,
.planet {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1em;
	height: 1em;
	margin: -0.5em 0 0 -0.5em;
	border-radius: 50%;
	transform-style: preserve-3d;
	transform: rotateX(0deg);
}

#sun {
	background-color: #FB7209;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-image: url("../assets/sun.jpg");
	box-shadow: 0 0 260px rgba(255, 160, 60, 0.6);
	font-size: 10.2vw;
	transform: rotateX(-90deg);
	transform-style: preserve-3d;
}

.planet {
	background-color: #202020;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#saturn .ring {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	margin-top: -1em;
	margin-left: -1em;
	border: 0.3em solid rgba(160, 147, 130, 0.7);
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform: rotateX(-90deg);
}

#saturn .ring:after {
	border-radius: 50%;
	position: absolute;
	content: '';
	top: 50%;
	left: 50%;
	width: 2.2em;
	height: 2.2em;
	margin-top: -1.1em;
	margin-left: -1.1em;
	border: 0.07em solid rgba(160, 147, 130, 0.5);
	box-sizing: border-box;
}

#mercury {
	z-index: 10;
}

#venus {
	z-index: 9;
}

#earth {
	z-index: 8;
}

#mars {
	z-index: 6;
}

#jupiter {
	z-index: 5;
}

#saturn {
	z-index: 4;
}

#uranus {
	z-index: 3;
}

#neptune {
	z-index: 2;
}

#sun {
	z-index: 1;
}

@keyframes orbit {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(-360deg);
	}
}

@keyframes invert {
	0% {
		transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
	}
	100% {
		transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
	}
}
/* sideral years */

#mercury .pos,
#mercury .planet,
#mercury.orbit {
	animation-duration: 2.89016s;
}

#venus .pos,
#venus .planet,
#venus.orbit {
	animation-duration: 7.38237s;
}

#earth .pos,
#earth .planet,
#earth.orbit {
	animation-duration: 12.00021s;
}

#earth .orbit .pos,
#earth .orbit {
	animation-duration: 0.89764s;
}

#mars .pos,
#mars .planet,
#mars.orbit {
	animation-duration: 22.57017s;
}

#jupiter .pos,
#jupiter .planet,
#jupiter.orbit {
	animation-duration: 142.35138s;
}

#saturn .pos,
#saturn .planet,
#saturn.orbit,
#saturn .ring {
	animation-duration: 353.36998s;
}

#uranus .pos,
#uranus .planet,
#uranus.orbit {
	animation-duration: 1008.20215s;
}

#neptune .pos,
#neptune .planet,
#neptune.orbit {
	animation-duration: 1977.49584s;
}

#mercury .planet {
	font-size: 0.64vw;
	background-image: url("../assets/mercury.png");
}

#venus .planet {
	font-size: 1.59vw;
	background-image: url("../assets/venus.jpg");
}

#earth .planet {
	font-size: 1.67vw;
	background-image: url("../assets/earth.jpg");
}

#mars .planet {
	font-size: 1.24vw;
	background-image: url("../assets/mars.jpg");
}

#jupiter .planet {
	font-size: 5.14vw;
	background-image: url("../assets/jupiter.png");
}

#saturn .planet {
	font-size: 4.62vw;
	background-image: url("../assets/saturn.jpg");
}

#uranus .planet {
	font-size: 2vw;
	background-image: url("../assets/uranus.jpg");
}

#neptune .planet {
	font-size: 2.1vw;
	background-image: url("../assets/neptune.jpg");
}

#mercury.orbit {
	width: 14vw;
	height: 14vw;
	margin-top: -7vw;
	margin-left: -7vw;
}

#venus.orbit {
	width: 17vw;
	height: 17vw;
	margin-top: -8.5vw;
	margin-left: -8.5vw;
}

#earth.orbit {
	width: 24vw;
	height: 24vw;
	margin-top: -12vw;
	margin-left: -12vw;
}

#mars.orbit {
	width: 31vw;
	height: 31vw;
	margin-top: -15.5vw;
	margin-left: -15.5vw;
}

#jupiter.orbit {
	width: 43vw;
	height: 43vw;
	margin-top: -21.5vw;
	margin-left: -21.5vw;
}

#saturn.orbit {
	width: 64vw;
	height: 64vw;
	margin-top: -32vw;
	margin-left: -32vw;
}

#uranus.orbit {
	width: 80vw;
	height: 80vw;
	margin-top: -40vw;
	margin-left: -40vw;
}

#neptune.orbit {
	width: 90vw;
	height: 90vw;
	margin-top: -45vw;
	margin-left: -45vw;
}